#html, body{
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

#body{
    background-color:black;
}

#home{
    background-color:black;
}

#about{

    margin:10px;
    padding: 10px;
}

#kontakt{
    text-align:center;
    color:burlywood;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 40%;
    height:400px;
    padding: 30px;
    margin-left: 100px;
    background-color: black;
    transition: transform .7s;
}

.column:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
}

}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.mi{
    float:left;
    width:60%;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;

        -webkit-animation: mymove 7s infinite; /* Chrome, Safari, Opera */
    animation: mymove 7s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }
}

/* Standard syntax */
@keyframes mymove {
    50% {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }
}

p{
    margin-top:20px;
    margin-left:5px;
    color:white;
    padding:10px;
}

h1{
    margin-top:70px;
    margin-left: 15px;
    color: burlywood;

}
.opis{
    float: left;
    width: 450px;
}


